In [2]:
import pandas as pd
df = pd.read_csv("../data/sex_work_arrests.csv")
# Combine the age, sex and race columns
age = df["AGE_GROUP"]
race = df["PERP_RACE"]
sex = df["PERP_SEX"]
year = df["ARREST_YEAR"]
boro = df["ARREST_BORO"]
charge = df["PD_DESC"]
pl = df["LAW_CODE"]
demographics = pd.concat([age, sex, race, year, charge], axis=1)
demographics = demographics[df['PD_DESC'] == 'PROSTITUTION'] 
demographics.to_csv('../data/demographics.csv', index=False)

num_rows = demographics.shape[0]
print("Number of rows:", num_rows)

top_3_counts = df['PD_DESC'].value_counts().head(3)
print(top_3_counts)

Number of rows: 21024
PD_DESC
PROSTITUTION                         21024
PROSTITUTION, PATRONIZING 4, 3       15516
PROSTITUTION 3,PROMOTING BUSINESS     1059
Name: count, dtype: int64

In [30]:

BF = (7203 / 21025) * 100
print(f"Arrest Rate of Black Women", BF)

APIF = (4312 / 21025) * 100
print(f"Arrest Rate of Asian Women", APIF)

WHF = (3526 / 21025) * 100
print(f"Arrest Rate of White Hispanic Women",WHF)

WF = (2449 / 21025) * 100
print(f"Arrest Rate of White Women", WF)

BHF = (1056 / 21053) * 100
print(f"Arrest Rate of Black Hispanic Women",BHF)

UKF = (73 / 21053) * 100
print(f"Arrest Rate of Women of Unkown Race", UKF)

BM = (1056 / 21053) * 100
print(f"Arrest Rate of Black Men Arrest", BM)

WHM = (897 / 21053) * 100 
print(f"Arrest Rate of White Hispanic Men", WHM)

BHM = (197 / 21053) * 100
print(f"Arrest Rate of Black Hispanic Men", BHM)

WM = (120 / 21053) * 100
print(f"Arrest Rate of White Men", WM)

APIM = (88 / 21053) * 100
print(f"Arrest Rate of Asian Men", APIM)

UKM = (18 / 21053)
print(f"Arrest Rate of Women of Unkown Race", UKF)

AIF = (13 / 21053)
print("Arrest Rate of American Indian/Alaskan Native Women", AIF)

OF = (12 / 21053) * 100
print("Arrest Rate of Women Where Race listed as 'other' ", OF)

OM = (3 / 21053) * 100
print("Arrest Rate of Men Where Race listed as 'other' ", OF)

AIM = (1 / 21053) * 100
print("Arrest Rate of American Indian/Alaskan Native Men", AIM)

Arrest Rate of Black Women 34.25921521997622
Arrest Rate of Asian Women 20.508917954815693
Arrest Rate of White Hispanic Women 16.770511296076098
Arrest Rate of White Women 11.648038049940547
Arrest Rate of Black Hispanic Women 5.015912221536123
Arrest Rate of Women of Unkown Race 0.3467439319811903
Arrest Rate of Black Men Arrest 5.015912221536123
Arrest Rate of White Hispanic Men 4.260675438179832
Arrest Rate of Black Hispanic Men 0.9357336246615684
Arrest Rate of White Men 0.5699900251745594
Arrest Rate of Asian Men 0.41799268512801024
Arrest Rate of Women of Unkown Race 0.3467439319811903
Arrest Rate of American Indian/Alaskan Native Women 0.000617489193939106
Arrest Rate of Women Where Race listed as 'other'  0.05699900251745594
Arrest Rate of Men Where Race listed as 'other'  0.05699900251745594
Arrest Rate of American Indian/Alaskan Native Men 0.004749916876454662

In [26]:
count = demographics[['PERP_RACE', 'PERP_SEX']].value_counts().reset_index() 
print(count)

                         PERP_RACE PERP_SEX  count
0                            BLACK        F   7203
1         ASIAN / PACIFIC ISLANDER        F   4312
2                   WHITE HISPANIC        F   3526
3                            WHITE        F   2449
4                            BLACK        M   1056
5                   BLACK HISPANIC        F   1056
6                   WHITE HISPANIC        M    897
7                   BLACK HISPANIC        M    197
8                            WHITE        M    120
9         ASIAN / PACIFIC ISLANDER        M     88
10                         UNKNOWN        F     73
11                         UNKNOWN        M     18
12  AMERICAN INDIAN/ALASKAN NATIVE        F     13
13                           OTHER        F     12
14                           OTHER        M      3
15  AMERICAN INDIAN/ALASKAN NATIVE        M      1

In [ ]:
most_common_race_by_year_df = demographics.groupby(['ARREST_YEAR'])[['PERP_RACE', 'AGE_GROUP', 'PERP_SEX']].apply(lambda x: x.value_counts().idxmax()).reset_index()
most_common_race_by_year_df

    ARREST_YEAR                                     0
0          2006                     (BLACK, 18-24, F)
1          2007  (ASIAN / PACIFIC ISLANDER, 25-44, F)
2          2008                     (BLACK, 18-24, F)
3          2009                     (BLACK, 18-24, F)
4          2010                     (BLACK, 18-24, F)
5          2011                     (BLACK, 18-24, F)
6          2012                     (BLACK, 18-24, F)
7          2013                     (BLACK, 25-44, F)
8          2014  (ASIAN / PACIFIC ISLANDER, 25-44, F)
9          2015  (ASIAN / PACIFIC ISLANDER, 25-44, F)
10         2016  (ASIAN / PACIFIC ISLANDER, 25-44, F)
11         2017  (ASIAN / PACIFIC ISLANDER, 25-44, F)
12         2018  (ASIAN / PACIFIC ISLANDER, 25-44, F)
13         2019  (ASIAN / PACIFIC ISLANDER, 25-44, F)
14         2020  (ASIAN / PACIFIC ISLANDER, 25-44, F)
15         2021  (ASIAN / PACIFIC ISLANDER, 25-44, F)
16         2022  (ASIAN / PACIFIC ISLANDER, 25-44, F)
17         2023  (ASIAN / PACIFIC ISLANDER, 45-64, F)
18         2024  (ASIAN / PACIFIC ISLANDER, 45-64, F)