In [8]:
import pandas as pd

df = pd.read_csv("../data/sex_work_arrests.csv")
# Combine the age, sex and race columns
age = df["AGE_GROUP"]
race = df["PERP_RACE"]
sex = df["PERP_SEX"]
year = df["ARREST_YEAR"]
boro = df["ARREST_BORO"]
charge = df["PD_DESC"]
pl = df["LAW_CODE"]


demographics = pd.concat([age, sex, race, year, charge], axis=1)
# demographics.to_csv('../data/demographics.csv')

In [9]:
# most_common_race_by_year = demographics.groupby(['ARREST_YEAR'])['PERP_RACE'].apply(lambda x: x.value_counts().idxmax())
# print(most_common_race_by_year)

In [10]:
demographics
num_rows = demographics.shape[0]
print("Number of rows:", num_rows)

Number of rows: 38291

In [11]:
demographics = demographics[df['PD_DESC'] == 'PROSTITUTION'] 
demographics.to_csv('../data/demographics.csv', index=False)

In [12]:
demographics

      AGE_GROUP PERP_SEX                 PERP_RACE  ARREST_YEAR       PD_DESC
4         18-24        F            WHITE HISPANIC         2024  PROSTITUTION
9         25-44        F            WHITE HISPANIC         2024  PROSTITUTION
10          65+        F  ASIAN / PACIFIC ISLANDER         2024  PROSTITUTION
20        45-64        F  ASIAN / PACIFIC ISLANDER         2024  PROSTITUTION
21        25-44        F            WHITE HISPANIC         2024  PROSTITUTION
...         ...      ...                       ...          ...           ...
38284     25-44        F            WHITE HISPANIC         2006  PROSTITUTION
38286     18-24        F  ASIAN / PACIFIC ISLANDER         2006  PROSTITUTION
38288     45-64        F  ASIAN / PACIFIC ISLANDER         2006  PROSTITUTION
38289     18-24        F            WHITE HISPANIC         2006  PROSTITUTION
38290     18-24        F                     WHITE         2006  PROSTITUTION

[21024 rows x 5 columns]

In [13]:
top_3_counts = df['PD_DESC'].value_counts().head(3)
print(top_3_counts)

PD_DESC
PROSTITUTION                         21024
PROSTITUTION, PATRONIZING 4, 3       15516
PROSTITUTION 3,PROMOTING BUSINESS     1059
Name: count, dtype: int64

In [28]:
most_common_race_by_year_df = demographics.groupby(['ARREST_YEAR'])[['PERP_RACE', 'AGE_GROUP', 'PERP_SEX']].apply(lambda x: x.value_counts().idxmax()).reset_index()
most_common_race_by_year_df

#

#.max()

    ARREST_YEAR                                     0
0          2006                     (BLACK, 18-24, F)
1          2007  (ASIAN / PACIFIC ISLANDER, 25-44, F)
2          2008                     (BLACK, 18-24, F)
3          2009                     (BLACK, 18-24, F)
4          2010                     (BLACK, 18-24, F)
5          2011                     (BLACK, 18-24, F)
6          2012                     (BLACK, 18-24, F)
7          2013                     (BLACK, 25-44, F)
8          2014  (ASIAN / PACIFIC ISLANDER, 25-44, F)
9          2015  (ASIAN / PACIFIC ISLANDER, 25-44, F)
10         2016  (ASIAN / PACIFIC ISLANDER, 25-44, F)
11         2017  (ASIAN / PACIFIC ISLANDER, 25-44, F)
12         2018  (ASIAN / PACIFIC ISLANDER, 25-44, F)
13         2019  (ASIAN / PACIFIC ISLANDER, 25-44, F)
14         2020  (ASIAN / PACIFIC ISLANDER, 25-44, F)
15         2021  (ASIAN / PACIFIC ISLANDER, 25-44, F)
16         2022  (ASIAN / PACIFIC ISLANDER, 25-44, F)
17         2023  (ASIAN / PACIFIC ISLANDER, 45-64, F)
18         2024  (ASIAN / PACIFIC ISLANDER, 45-64, F)

In [15]:
demographics

      AGE_GROUP PERP_SEX                 PERP_RACE  ARREST_YEAR       PD_DESC
4         18-24        F            WHITE HISPANIC         2024  PROSTITUTION
9         25-44        F            WHITE HISPANIC         2024  PROSTITUTION
10          65+        F  ASIAN / PACIFIC ISLANDER         2024  PROSTITUTION
20        45-64        F  ASIAN / PACIFIC ISLANDER         2024  PROSTITUTION
21        25-44        F            WHITE HISPANIC         2024  PROSTITUTION
...         ...      ...                       ...          ...           ...
38284     25-44        F            WHITE HISPANIC         2006  PROSTITUTION
38286     18-24        F  ASIAN / PACIFIC ISLANDER         2006  PROSTITUTION
38288     45-64        F  ASIAN / PACIFIC ISLANDER         2006  PROSTITUTION
38289     18-24        F            WHITE HISPANIC         2006  PROSTITUTION
38290     18-24        F                     WHITE         2006  PROSTITUTION

[21024 rows x 5 columns]

In [25]:
demographics["PERP_RACE"].max() 
# confused on why this gives "white hispanic" when white hispanic doesn't show up as a topic demographic, 2 cells up

'WHITE HISPANIC'

In [21]:
demographics["ARREST_YEAR"].head()

4     2024
9     2024
10    2024
20    2024
21    2024
Name: ARREST_YEAR, dtype: int64