In [89]:
import pandas as pd

df = pd.read_csv("../data/sex_work_arrests.csv")
# Combine the age, sex and race columns
age = df["AGE_GROUP"]
race = df["PERP_RACE"]
sex = df["PERP_SEX"]
year = df["ARREST_YEAR"]
boro = df["ARREST_BORO"]
charge = df["PD_DESC"]
pl = df["LAW_CODE"]


demographics = pd.concat([age, sex, race, year, charge], axis=1)
# demographics.to_csv('../data/demographics.csv')

In [90]:
# most_common_race_by_year = demographics.groupby(['ARREST_YEAR'])['PERP_RACE'].apply(lambda x: x.value_counts().idxmax())
# print(most_common_race_by_year)

In [91]:
demographics
num_rows = demographics.shape[0]
print("Number of rows:", num_rows)

Number of rows: 38291

In [92]:
demographics = demographics[df['PD_DESC'] == 'PROSTITUTION'] 
demographics.to_csv('../data/demographics.csv')

In [93]:
demographics

      AGE_GROUP PERP_SEX                 PERP_RACE  ARREST_YEAR       PD_DESC
4         18-24        F            WHITE HISPANIC         2024  PROSTITUTION
9         25-44        F            WHITE HISPANIC         2024  PROSTITUTION
10          65+        F  ASIAN / PACIFIC ISLANDER         2024  PROSTITUTION
20        45-64        F  ASIAN / PACIFIC ISLANDER         2024  PROSTITUTION
21        25-44        F            WHITE HISPANIC         2024  PROSTITUTION
...         ...      ...                       ...          ...           ...
38284     25-44        F            WHITE HISPANIC         2006  PROSTITUTION
38286     18-24        F  ASIAN / PACIFIC ISLANDER         2006  PROSTITUTION
38288     45-64        F  ASIAN / PACIFIC ISLANDER         2006  PROSTITUTION
38289     18-24        F            WHITE HISPANIC         2006  PROSTITUTION
38290     18-24        F                     WHITE         2006  PROSTITUTION

[21024 rows x 5 columns]

In [94]:
counts = df['PD_DESC'].value_counts()
print(counts[['PROSTITUTION, PATRONIZING 4, 3']])

PD_DESC
PROSTITUTION, PATRONIZING 4, 3    15516
Name: count, dtype: int64

In [95]:
top_3_counts = df['PD_DESC'].value_counts().head(3)
print(top_3_counts)

PD_DESC
PROSTITUTION                         21024
PROSTITUTION, PATRONIZING 4, 3       15516
PROSTITUTION 3,PROMOTING BUSINESS     1059
Name: count, dtype: int64

In [116]:
most_common_race_by_year_df = demographics.groupby(['ARREST_YEAR'])['PERP_RACE'].apply(lambda x: x.value_counts().idxmax()).reset_index() 
#rest_index makes sure that "most_common_race is added as a row/column"
print(most_common_race_by_year_df)

    ARREST_YEAR                 PERP_RACE
0          2006                     BLACK
1          2007            WHITE HISPANIC
2          2008                     BLACK
3          2009                     BLACK
4          2010                     BLACK
5          2011                     BLACK
6          2012                     BLACK
7          2013                     BLACK
8          2014                     BLACK
9          2015                     BLACK
10         2016                     BLACK
11         2017                     BLACK
12         2018                     BLACK
13         2019  ASIAN / PACIFIC ISLANDER
14         2020  ASIAN / PACIFIC ISLANDER
15         2021  ASIAN / PACIFIC ISLANDER
16         2022  ASIAN / PACIFIC ISLANDER
17         2023  ASIAN / PACIFIC ISLANDER
18         2024  ASIAN / PACIFIC ISLANDER