In [56]:
import pandas as pd

df = pd.read_csv("../data/sex_work_arrests.csv")
# Combine the age, sex and race columns
age = df["AGE_GROUP"]
race = df["PERP_RACE"]
sex = df["PERP_SEX"]
year = df["ARREST_YEAR"]
boro = df["ARREST_BORO"]
charge = df["PD_DESC"]
pl = df ["LAW_CODE"]


demographics = pd.concat([age, sex, race, year, charge], axis=1)
# demographics.to_csv('../data/demographics.csv')

In [57]:
most_common_race_by_year = demographics.groupby(['ARREST_YEAR'])['PERP_RACE'].apply(lambda x: x.value_counts().idxmax())
print(most_common_race_by_year)

ARREST_YEAR
2006              WHITE HISPANIC
2007              WHITE HISPANIC
2008                       BLACK
2009                       BLACK
2010                       BLACK
2011                       BLACK
2012                       BLACK
2013                       BLACK
2014                       BLACK
2015                       BLACK
2016                       BLACK
2017                       BLACK
2018                       BLACK
2019                       BLACK
2020              WHITE HISPANIC
2021    ASIAN / PACIFIC ISLANDER
2022    ASIAN / PACIFIC ISLANDER
2023    ASIAN / PACIFIC ISLANDER
2024    ASIAN / PACIFIC ISLANDER
Name: PERP_RACE, dtype: object

In [58]:
demographics
num_rows = demographics.shape[0]
print("Number of rows:", num_rows)

Number of rows: 38291

In [59]:
# charge= df[df['PD_DESC'] == 'PROSTITUTION']
# charge

In [67]:
demographics = demographics[df['PD_DESC'] == 'PROSTITUTION'] 
demographics.to_csv('../data/demographics.csv')

In [71]:
demographics

      AGE_GROUP PERP_SEX                 PERP_RACE  ARREST_YEAR       PD_DESC
4         18-24        F            WHITE HISPANIC         2024  PROSTITUTION
9         25-44        F            WHITE HISPANIC         2024  PROSTITUTION
10          65+        F  ASIAN / PACIFIC ISLANDER         2024  PROSTITUTION
20        45-64        F  ASIAN / PACIFIC ISLANDER         2024  PROSTITUTION
21        25-44        F            WHITE HISPANIC         2024  PROSTITUTION
...         ...      ...                       ...          ...           ...
38284     25-44        F            WHITE HISPANIC         2006  PROSTITUTION
38286     18-24        F  ASIAN / PACIFIC ISLANDER         2006  PROSTITUTION
38288     45-64        F  ASIAN / PACIFIC ISLANDER         2006  PROSTITUTION
38289     18-24        F            WHITE HISPANIC         2006  PROSTITUTION
38290     18-24        F                     WHITE         2006  PROSTITUTION

[21024 rows x 5 columns]

In [76]:
df

,ARREST_KEY,ARREST_YEAR,PD_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,Latitude,Longitude,New Georeferenced Column
0,293983828,2024,"PROSTITUTION, PATRONIZING 4, 3",PL 2300400,M,Q,115,0,25-44,M,BLACK HISPANIC,40.749497,-73.867081,POINT (-73.867081 40.749497)
1,293597451,2024,"PROSTITUTION, PATRONIZING 4, 3",PL 2300400,M,Q,103,0,25-44,M,ASIAN / PACIFIC ISLANDER,40.695857,-73.800532,POINT (-73.80053214871725 40.69585728326291)
2,293597456,2024,"PROSTITUTION, PATRONIZING 4, 3",PL 2300400,M,Q,103,0,45-64,M,BLACK,40.695857,-73.800532,POINT (-73.80053214871725 40.69585728326291)
3,293597453,2024,"PROSTITUTION, PATRONIZING 4, 3",PL 2300400,M,Q,103,0,45-64,M,BLACK,40.695857,-73.800532,POINT (-73.80053214871725 40.69585728326291)
4,293531851,2024,PROSTITUTION,PL 2300000,M,Q,110,0,18-24,F,WHITE HISPANIC,40.747702,-73.875430,POINT (-73.87543 40.747702)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38286,9933087,2006,PROSTITUTION,PL 2300000,M,K,72,0,18-24,F,ASIAN / PACIFIC ISLANDER,40.640108,-74.006559,POINT (-74.006559295 40.64010787000007)
38287,9933235,2006,"PROSTITUTION,PERMITTING",PL 2304000,M,M,18,97,25-44,F,ASIAN / PACIFIC ISLANDER,40.764720,-73.989915,POINT (-73.98991522899996 40.764719969000055)
38288,9933237,2006,PROSTITUTION,PL 2300000,M,M,18,97,45-64,F,ASIAN / PACIFIC ISLANDER,40.764720,-73.989915,POINT (-73.98991522899996 40.764719969000055)
38289,9933084,2006,PROSTITUTION,PL 2300000,M,K,72,69,18-24,F,WHITE HISPANIC,40.644098,-74.013168,POINT (-74.01316837999997 40.644098221000036)
38290,9933088,2006,PROSTITUTION,PL 2300000,M,K,72,69,18-24,F,WHITE,40.640108,-74.006559,POINT (-74.006559295 40.64010787000007)

In [78]:
counts = df['PD_DESC'].value_counts()
print(counts[['PROSTITUTION, PATRONIZING 4, 3']])

KeyError: "None of [Index(['PROSTITUTION, PATRONIZING 4, 3'], dtype='object', name='PD_DESC')] are in the [index]"