In [15]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

# Load the CSV file with separate latitude and longitude columns
df = pd.read_csv("../data/sex_work_arrests.csv")

# Create a 'geometry' column with Point objects
df['geometry'] = df.apply(lambda row: Point(row['Longitude'], row['Latitude']), axis=1)

# Convert the DataFrame to a GeoDataFrame
gdf = gpd.GeoDataFrame(df, geometry='geometry')

# Set the coordinate reference system (CRS)
gdf.set_crs("EPSG:4326", inplace=True)

# # Export to GeoJSON
# gdf.to_file("../data/coords.geojson", driver="GeoJSON")

,ARREST_KEY,ARREST_YEAR,PD_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,Latitude,Longitude,New Georeferenced Column,geometry
0,293983828,2024,"PROSTITUTION, PATRONIZING 4, 3",PL 2300400,M,Q,115,0,25-44,M,BLACK HISPANIC,40.749497,-73.867081,POINT (-73.867081 40.749497),POINT (-73.86708 40.7495)
1,293597451,2024,"PROSTITUTION, PATRONIZING 4, 3",PL 2300400,M,Q,103,0,25-44,M,ASIAN / PACIFIC ISLANDER,40.695857,-73.800532,POINT (-73.80053214871725 40.69585728326291),POINT (-73.80053 40.69586)
2,293597456,2024,"PROSTITUTION, PATRONIZING 4, 3",PL 2300400,M,Q,103,0,45-64,M,BLACK,40.695857,-73.800532,POINT (-73.80053214871725 40.69585728326291),POINT (-73.80053 40.69586)
3,293597453,2024,"PROSTITUTION, PATRONIZING 4, 3",PL 2300400,M,Q,103,0,45-64,M,BLACK,40.695857,-73.800532,POINT (-73.80053214871725 40.69585728326291),POINT (-73.80053 40.69586)
4,293531851,2024,PROSTITUTION,PL 2300000,M,Q,110,0,18-24,F,WHITE HISPANIC,40.747702,-73.875430,POINT (-73.87543 40.747702),POINT (-73.87543 40.7477)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38286,9933087,2006,PROSTITUTION,PL 2300000,M,K,72,0,18-24,F,ASIAN / PACIFIC ISLANDER,40.640108,-74.006559,POINT (-74.006559295 40.64010787000007),POINT (-74.00656 40.64011)
38287,9933235,2006,"PROSTITUTION,PERMITTING",PL 2304000,M,M,18,97,25-44,F,ASIAN / PACIFIC ISLANDER,40.764720,-73.989915,POINT (-73.98991522899996 40.764719969000055),POINT (-73.98992 40.76472)
38288,9933237,2006,PROSTITUTION,PL 2300000,M,M,18,97,45-64,F,ASIAN / PACIFIC ISLANDER,40.764720,-73.989915,POINT (-73.98991522899996 40.764719969000055),POINT (-73.98992 40.76472)
38289,9933084,2006,PROSTITUTION,PL 2300000,M,K,72,69,18-24,F,WHITE HISPANIC,40.644098,-74.013168,POINT (-74.01316837999997 40.644098221000036),POINT (-74.01317 40.6441)
38290,9933088,2006,PROSTITUTION,PL 2300000,M,K,72,69,18-24,F,WHITE,40.640108,-74.006559,POINT (-74.006559295 40.64010787000007),POINT (-74.00656 40.64011)

In [16]:
import pandas as pd
import geopandas as gpd


gdf = gpd.GeoDataFrame(df, geometry='geometry')
duplicates = gdf['geometry'].value_counts()
print(duplicates)

geometry
POINT (-73.79786 40.698)      524
POINT (-73.88868 40.74714)    520
POINT (-73.91981 40.68822)    490
POINT (-73.88579 40.74745)    475
POINT (-73.89887 40.86559)    374
                             ...
POINT (-73.9872 40.69439)       1
POINT (-73.89282 40.74275)      1
POINT (-73.96453 40.80207)      1
POINT (-73.81307 40.70063)      1
POINT (-74.01317 40.6441)       1
Name: count, Length: 6103, dtype: int64